<!--<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>This is a App component</h3>
            <hr>
            <app-servers></app-servers>
        </div>
    </div>
</div>-->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div app-success-alert></div>
            <!--<app-success-alert></app-success-alert>-->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="app-warning-alert"></div>
            <!--<app-warning-alert></app-warning-alert>-->
        </div>
    </div>
    <!--<div class="row">
        <div class="col-xs-12">
            <app-server></app-server>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <app-servers></app-servers>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <app-direxample></app-direxample>
        </div>
    </div>-->
    <div class="row">
        <div class="col-xs-12">
            <app-direxampletwo></app-direxampletwo>
        </div>
    </div>
</div>
